<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/landingPage/static/style.css">
    <title>CEO - Dashboard</title>
</head>
<body>

    <!-- Header -->
    <section class="header" id="header">
        <nav>
            <div class="nav-container">
                <img src="/landingPage/static/images/logo.png" alt="Logo">
                <ul>
                    <a class="signup-link" href="{{ url_for('auth.sendMail')}}"><li>Sign up</li></a>
                    <a class="login-link" href="{{ url_for('auth.login')}}"><li>Login</li></a>
                </ul>
            </div>
        </nav>

        <section class="hero-section">
        <div class="text-content">
            <h1>CEO Dashboard</h1>
            <h3>Unlock Your Business's Potential with Our CEO Dashboard and Elevate Your Business Strategy: Gain Actionable Insights and Drive Success with Our Intuitive CEO Dashboard</h3>
            <button>Get started</button>
        </div>
        <div class="img-content">
            <img src="/landingPage/static/images/hero-section.png" alt="hero-section">
        </div>
    </section>
    </section>

    <!-- Company partnered -->
    <section class="company-partnered">
        <h1>Clients</h1>
        <div class="companies">
            <div class="container">
                <img src="/landingPage/static/images/apple.png" alt="Apple">
            </div>
            <div class="container">
                <img src="/landingPage/static/images/discord.png" alt="discord">
            </div>
            <div class="container">
                <img src="/landingPage/static/images/ebay.png" alt="EBay">
            </div>
            <div class="container">
                <img src="/landingPage/static/images/google.png" alt="Google">
            </div>
            <div class="container">
                <img src="/landingPage/static/images/microsoft.png" alt="Microsoft">
            </div>
        </div>
    </section>

    <section class="about">
        <h1>About Us</h1>
        <div class="about-us-content">
            <p>Our mission is simple: to simplify business insights and provide executives with the tools they need to unlock their business's full potential. With CEO Dashboard, you can stay ahead of the curve by gaining real-time access to key metrics and KPIs, enabling you to make informed decisions that drive success.</p>
            <img src="/landingPage/static/images/aboutus-image.jpg" alt="aboutus-image">
        </div>
    </section>

    <section class="features">
        <h1>features</h1>
        <div class="features-container">
            <div class="container">
                <img src="/landingPage/static/images/diagram.gif" alt="optimization">
                <h1>Data Visualization</h1>
                <p>Data visualization offers executives visual representations of data to make informed decisions and track performance effectively.</p>
            </div>
            <div class="container">
                <img src="/landingPage/static/images/free.gif" alt="free">
                <h1>Free of Cost</h1>
                <p>Our CEO Dashboard offers comprehensive features and functionalities completely free of cost, ensuring accessibility and affordability for all users.</p>
            </div>
            <div class="container">
                <img src="/landingPage/static/images/tech-support.gif" alt="24/7">
                <h1>Customer Service</h1>
                <p>24/7 support ensures executives receive assistance around the clock, facilitating uninterrupted access to help and guidance when needed.</p>
            </div>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials">
        <h1>testimonials</h1>
        <div class="testimonials-container">
            <div class="container">
                <h3 class="name">Testimonial 1</h3>
                <blockquote class="text-content">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat corporis optio quia ab laboriosam neque distinctio culpa. Quidem at hic pariatur natus ducimus in accusamus quaerat. Totam impedit rem corporis!
                </blockquote>
                <div class="image-container">
                    <img src="https://i.pravatar.cc/70?img=32" alt="face1">
                </div>
            </div>
            <div class="container">
                <h3 class="name">Testimonial 2</h3>
                <blockquote class="text-content">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat corporis optio quia ab laboriosam neque distinctio culpa. Quidem at hic pariatur natus ducimus in accusamus quaerat. Totam impedit rem corporis!
                </blockquote>
                <div class="image-container">
                    <img src="https://i.pravatar.cc/70?img=59" alt="face1">
                </div>
            </div>
            <div class="container">
                <h3 class="name">Testimonial 3</h3>
                <blockquote class="text-content">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat corporis optio quia ab laboriosam neque distinctio culpa. Quidem at hic pariatur natus ducimus in accusamus quaerat. Totam impedit rem corporis!
                </blockquote>
                <div class="image-container">
                    <img src="https://i.pravatar.cc/70?img=9" alt="face1">
                </div>
            </div>
        </div>
    </section>

    <!-- Call to Action -->
    <section class="cta">
        <h1>Contact us</h1>
        <div class="cta-container">
            <form id="contactForm" class="form-container">
                <h2>Let's Connect Today!</h2>
                <p>Contact us through our 24/7 live chat we're always happy to help</p>
                <div class="name input-field">
                    <input type="text" name="name" id="name" placeholder="Name">
                </div>
                <div class="email input-field">
                    <input type="email" name="email" id="email" placeholder="E-Mail">
                </div>
                <div class="message input-field">
                    <textarea name="message" id="message" placeholder="Message"></textarea>
                </div>
                <div class="button-container input-field">
                    <span id="cta-msg" class="cta-msg"></span>
                </div>
                <div class="button-container input-field">
                    <button id="submitButton" type="submit">Submit</button>
                </div>
            </form>
            <img src="/landingPage/static/images/contact-us-image.png" alt="CTA img">
        </div>
    </section>

    <!-- Footer -->
    <section class="footer">
        <div class="footer-container">
            <div class="container">
                <h1>CEO Dashboard</h1>
                <div class="links">
                    <p>&copy; CEO Dashboard 2024</p>
                    <p>Privacy Policy</p>
                    <p>Cookies Policy</p>
                    <p>Terms of use</p>
                </div>
            </div>
            <div class="btt">
                <button onclick="scrollToTop()" id="backToTopBtn">Back to Top</button>
            </div>
            <div class="container">
                <img src="/landingPage/static/images/logo.png" alt="logo">
            </div>
        </div>
    </section>

    <script>
        function scrollToTop() {
            const currentScroll = document.documentElement.scrollTop || document.body.scrollTop;
            if (currentScroll > 0) {
                const scrollStep = Math.ceil(currentScroll / 20);
                window.requestAnimationFrame(scrollToTop);
                window.scrollTo(0, currentScroll - scrollStep);
            }
        }

        // document.addEventListener('DOMContentLoaded', function () {
        //     const form = document.getElementById('contactForm');
        //     form.addEventListener('submit', function (event) {
        //         event.preventDefault();
        //         if (!validateForm()) {
        //             return;
        //         }
        //         const formData = new FormData(form);
        //         fetch('/send_email', {
        //             method: 'POST',
        //             body: formData
        //         })
        //         .then(response => {
        //             if (response.ok) {
        //                 alert('Message sent successfully!');
        //                 form.reset(); // Reset form after successful submission
        //             } else {
        //                 alert('Failed to send message. Please try again later.');
        //             }
        //         })
        //         .catch(error => {
        //             console.error('Error:', error);
        //             alert('An error occurred. Please try again later.');
        //         });
        //     });
        //     function validateForm() {
        //         const name = document.getElementById('name').value.trim();
        //         const email = document.getElementById('email').value.trim();
        //         const message = document.getElementById('message').value.trim();
        //         if (name === '' || email === '' || message === '') {
        //             alert('Please fill in all fields.');
        //             return false;
        //         }
        //         return true;
        //     }
        // });

        document.addEventListener('DOMContentLoaded', function () {
            let form = document.getElementById('contactForm');
            let nameInput = document.getElementById('name');
            let emailInput = document.getElementById('email');
            let messageInput = document.getElementById('message');
            let submitButton = document.getElementById('submitButton');
            let cta_msg = document.getElementById('cta-msg')

            // Disable submit button by default
            if(submitButton){
                submitButton.disabled = true;
                submitButton.style.opacity = 0.2;
            }

            form.addEventListener('submit', function (event) {
                event.preventDefault();
                if (!validateForm()) {
                    return;
                }
                let formData = new FormData(form);
                fetch('/send_email', {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (response.ok) {
                        alert('Message sent successfully!');
                        form.reset(); // Reset form after successful submission
                        submitButton.disabled = true; // Disable submit button after submission
                    } else {
                        alert('Failed to send message. Please try again later.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred. Please try again later.');
                });
            });

            // Function to validate form
            function validateForm() {
                let name = nameInput.value.trim();
                let email = emailInput.value.trim();
                let message = messageInput.value.trim();

                // Update placeholder for email if name is filled
                if (name !== '') {
                    emailInput.placeholder = 'Please enter your email';
                    cta_msg.innerText = 'Please Enter you Mail-ID'

                    // Update placeholder for message if message is filled
                    if (email !== '') {
                        messageInput.placeholder = 'Please write your message';
                        cta_msg.innerText = 'Please Enter you Message'
                    }
                    if (message !== '') {
                        cta_msg.innerText = '';
                        if (submitButton) {
                            submitButton.disabled = false;
                            submitButton.style.opacity = 1;
                            return true;
                        }
                    }

                } else {
                    emailInput.placeholder = 'E-Mail';
                    cta_msg.innerText = '';
                }

                // // Update placeholder for message if message is filled
                // if (email !== '') {
                //     messageInput.placeholder = 'Please write your message';
                //     cta_msg.innerText = 'Please Enter you Message'
                // } else {
                //     messageInput.placeholder = 'Message';
                //     cta_msg.innerText = '';
                // }

                // Enable submit button if all fields are filled
                // if (name !== '' && email !== '' && message !== '') {
                //     submitButton.disabled = false;
                //     return true;
                // } else {
                //     submitButton.disabled = true;
                //     alert('Please fill in all fields.');
                //     return false;
                // }
            }

            // Event listeners for input fields
            nameInput.addEventListener('input', validateForm);
            emailInput.addEventListener('input', validateForm);
            messageInput.addEventListener('input', validateForm);
        });

    </script>
</body>
</html>